<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.JudgeStatusMapper">

    <select id="selectCountByDay" resultType="team.fjut.cf.pojo.vo.StatusCountVO">
        SELECT COUNT(id) totalCount,
            SUM(result=1) acCount,
            DATE(submit_time) submitDay
            FROM t_judge_status
	        WHERE  submit_time >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
            GROUP BY DATE(submit_time);
    </select>

    <select id="selectCountByUsername" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_judge_status
        WHERE username = #{username};
    </select>

    <select id="countAcByDate" resultType="java.lang.Integer">
        SELECT count(*) FROM t_judge_status
        WHERE substring(submit_time,1,10) = #{time}
        AND score = 100
        OR substring(submit_time,1,10) = #{time}
        AND result = 1
    </select>

    <select id="countSubmitByDate" resultType="java.lang.Integer">
        SELECT count(*) FROM t_judge_status
        WHERE substring(submit_time,1,10) = #{time}
    </select>

    <select id="countContestAcByDate" resultType="java.lang.Integer">
        SELECT count(*) FROM t_judge_status
        WHERE substring(submit_time,1,10) = #{time}
        AND contest_id != -1
        AND score = 100
		OR substring(submit_time,1,10) = #{time}
		AND contest_id != -1
		AND result = 1
    </select>

    <select id="countContestSubmitByDate" resultType="java.lang.Integer">
        SELECT count(*) FROM t_judge_status
        WHERE substring(submit_time,1,10) = #{time}
        AND contest_id != -1
    </select>

    <select id="selectCountByLanguage" resultType="team.fjut.cf.pojo.vo.response.LanguageUsedNumVO">
        SELECT language, '未知' as language_name, count(language) as used_num
        FROM t_judge_status
        GROUP BY language
    </select>

</mapper>