<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.SpiderItemJobMapper">
    <select id="selectCountByDays" resultType="team.fjut.cf.pojo.vo.response.SpiderJobCountVO">
        SELECT COUNT(id)               totalCount,
               DATE(actual_start_time) startDate
        FROM t_spider_item_job
        WHERE actual_start_time >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
        GROUP BY DATE(actual_start_time)
        ORDER BY startDate DESC;
    </select>
</mapper>